<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devsconnect</title>
</head>

<body>
    <header>
        <h1>Devsconnect</h1>
        <p>Le site collaboratif pour développeurs</p>
    </header>

</body>

</html>
